@keyframes zoomIn {
  0% {
    transform: translateX(-50%) scale(1);
  }
  60% {
    transform: translateX(-50%) scale(1.15);
  }
  100% {
    transform: translateX(-50%) scale(1.1);
  }
}

@keyframes zoomOut {
  0% {
    transform: translateX(-50%) scale(1.1);
  }
  60% {
    transform: translateX(-50%) scale(0.95);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
