@import "../../config";

// 主页搜索
.home-search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: $defaultTransition;
  opacity: 0;
  z-index: -1;

  // 显示
  &.show {
    opacity: 1;
    z-index: 10;
  }

  // 搜索框
  input {
    padding: 0.06rem 0.23rem 0.06rem 0.07rem;
    width: 1rem;
    border-radius: 0.3rem;
    font-size: $fontNormal;
    line-height: 0.1rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: $defaultBoxShadow;
    transition: all 0.25s;

    // 占位符
    &::placeholder {
      color: #ffffff;
      transition: all 0.25s;
    }

    &:hover {
      width: 2.5rem;
      padding: 0.06rem 0.07rem;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: $defaultBoxShadowHover;

      &::placeholder {
        color: #666666;
      }
    }

    &:focus {
      width: 2.5rem;
      padding: 0.06rem 0.07rem;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: $defaultBoxShadow;

      // focus 状态的占位符
      &::placeholder {
        color: transparent;
      }
    }
  }
}
