$fontSmall: 12px;
$fontNormal: 18px;
$fontMedium: 24px;
$fontBig: 32px;

$defaultTransition: all 0.2s;
$defaultBoxShadow: rgba(0, 0, 0, 0.2) 0 0 10px;
$defaultBoxShadowHover: rgba(0, 0, 0, 0.3) 0 0 10px;
